<div class="container">
	<div class="window">
		<div class="image">
			<img src="assets/logo.png" alt="logo">
			<h1 class="title">MattHere</h1>
		</div>

		<div class="info">
			<div class="heading">
				<h1 class="title">MattHere</h1>
				<h2 class="description">An intermediate Go, Haskell and Angular dev from the EU!</h2>
			</div>

			<div class="links">
				<a href="https://github.com/mattishere" class="github" target="_blank"><i class="fa-brands fa-github"></i>GitHub</a>
				<a href="https://fiverr.com/mattdoesdev" class="fiverr" target="_blank"><i class="fa-solid fa-comments-dollar"></i>Fiverr</a>
				<a href="https://github.com/mattishere/links-website" class="source" target="_blank"><i class="fa-solid fa-code"></i>Source</a>
				<a href="https://matthere.net" class="portfolio" target="_blank"><i class="fa-solid fa-folder-closed"></i>Portfolio</a>
			</div>
		</div>
	</div>
</div>
